
.manageLecturersDiv {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding:20px 40px 5px 40px;
    border-radius:10px;
    margin-top: 30px;
}

select#filter-select {
    margin: 0px 838px 0px 10px;
}

.filter {
    display: flex;
    margin-bottom: 10px;
}

.box-list {
    display: flex;
    flex-direction: column;
}

.box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid rgb(235 90 45);
    border-radius: 10px;
    background-color: black;
}

.info2 {
    flex-grow: 1;
    margin-right: 10px;
    font-weight: 500;
    color: rgb(235 90 45);
}

p.lecturerText {
    margin-bottom: 3px;
}

.buttons2 button {
    margin-right: 5px;
    background-color: transparent;
    border: 2px solid rgb(235, 90, 45);
    color:  rgb(235, 90, 45);
    border-radius: 7px;
    transition: 0.3s ease;
}
.buttons2 button:hover {
    margin-right: 5px;
    background-color:  rgb(235, 90, 45);
    border: 3px solid rgb(235, 90, 45);
    color: black;
    
}
label.filterLabel {
    color: rgb(235 90 45);
}

#search-input, select, option{
    background-color: transparent;
    color:  rgb(235, 90, 45);
    border: 2px solid rgb(235, 90, 45); 
    border-radius: 7px;
    border-collapse: collapse;
}

